.u-hideItem {
  display: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #f0f0ee; }

@media only screen and (max-width: 75em) {
  font-size: 56.25%; }

@media only screen and (max-width: 56.25em) {
  font-size: 50%; }

@media only screen and (min-width: 112.5em) {
  font-size: 75%; }

body {
  color: #555;
  font-family: 'Lato', 'Arial', san-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  line-height: 1.7; }

a:link,
a:visited {
  color: #ffffff; }

.o-centerHeading {
  text-align: center; }

.o-headingPrimary {
  font-size: 4rem;
  font-weight: 400;
  display: inline-block;
  display: inline-block;
  background-image: linear-gradient(to right, #ffffff, #f2dae7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .o-headingPrimary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.o-headingSecondary {
  display: inline-block;
  background-image: linear-gradient(to right, #AADDBB, #00a84b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  transition: all .2s; }
  .o-headingSecondary:hover {
    transform: skewY(-2deg) skewX(-15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

h4 {
  text-align: center;
  color: #881155; }

.u-underline {
  text-decoration: underline; }

.o-btn {
  margin: 1rem;
  padding: 1rem 1.25rem;
  border-radius: .5rem; }

.o-list {
  list-style: none;
  text-decoration: none; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }

.footer__menuContainer {
  display: flex;
  justify-content: space-between; }
  .footer__menuContainer--menu-item {
    text-transform: uppercase; }
    .footer__menuContainer--menu-item:link, .footer__menuContainer--menu-item:visited {
      color: #f0f0ee;
      text-decoration: none;
      transition: all .4s; }
      .footer__menuContainer--menu-item:link:not(:last-child), .footer__menuContainer--menu-item:visited:not(:last-child) {
        margin-right: 4rem; }
    .footer__menuContainer--menu-item:hover, .footer__menuContainer--menu-item:active {
      color: #ffffff;
      text-decoration: underline; }
  .footer__menuContainer--social-item:not(:last-child) {
    margin-right: 4rem; }
  .footer__menuContainer--social-item:last-child {
    vertical-align: 18%;
    font-size: 90%; }
  .footer__menuContainer--social-item-icon {
    font-size: 25rem;
    color: #fff; }

.footer__copy {
  text-align: center;
  color: #ccc;
  font-size: 75%;
  margin-top: 2rem; }

/*////////////////////
HEADER ELEMENTS INSTRUCTIONS
////////////////////*/
.header__topLineWrapper {
  height: 15%; }

.header__logoBox {
  padding: 1rem;
  float: left; }
  .header__logoBox--logo {
    height: 10rem;
    opacity: .2; }

.header__heroBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%; }
  .header__heroBox--mainHeading {
    letter-spacing: .8rem;
    font-weight: 600; }
    .header__heroBox--mainHeading > span {
      display: inline-block;
      background-image: linear-gradient(to left, #ffffff, #f2dae7);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 85%;
      font-weight: 500; }
  .header__heroBox--subText {
    font-weight: 400;
    padding-top: 3rem;
    background-image: linear-gradient(to right, #f0f0ee 60%, #f279bb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 75%; }

.header.ion-navicon {
  color: #ffffff;
  cursor: pointer;
  float: right;
  display: none;
  font-size: 200%;
  margin-right: 10px; }

.header.ion-close {
  float: right;
  margin-right: 10px;
  color: #ffffff;
  cursor: pointer; }

.nav {
  margin-right: 2rem;
  margin-top: 2rem;
  float: right; }
  @media only screen and (max-width: 56.25em) {
    .nav__mainNav {
      display: none; } }
  .nav__mainNav--mainNavItem {
    display: inline-block; }
    .nav__mainNav--mainNavItem:not(:last-child) {
      margin-right: 3.5rem; }
    .nav__mainNav--mainNavItem a:link,
    .nav__mainNav--mainNavItem a:visited {
      color: #f0f0ee;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 80%;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.4s;
      letter-spacing: 1.3px;
      word-spacing: 5px;
      font-weight: 400;
      padding-bottom: 1rem; }
    .nav__mainNav--mainNavItem a:hover,
    .nav__mainNav--mainNavItem a:active {
      border-bottom: 2px solid #f2dae7; }
  .nav__mobileNav--icon {
    float: right;
    cursor: pointer;
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .nav__mobileNav--icon {
        display: inline-block; } }
    .nav__mobileNav--icon-hamburger {
      height: 2.5rem; }
    .nav__mobileNav--icon-close {
      display: none; }

.header {
  background-image: linear-gradient(to right bottom, rgba(170, 221, 187, 0.8), rgba(0, 168, 75, 0.8)), url(../img/valleyTenPeaks.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%); }

.sectionProjects {
  background-color: #f0f0ee;
  padding: 3rem;
  clip-path: polygon(0 0, 100% 6rem, 100% 100%, 0 100%); }

.sectionPricing {
  background-color: #ffffff;
  width: 100%;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
  padding-top: 10rem; }

.sectionAbout {
  background-color: #f0f0ee;
  width: 100%;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
  margin: -5rem auto 5rem;
  padding-top: 7.5rem; }

.sectionGlossary {
  background-color: #ffffff;
  clip-path: polygon(0 0, 100% 2.5%, 100% 100%, 0 100%);
  width: 100%;
  padding-top: 15rem; }

.footer {
  background-color: #360622;
  padding: 4rem; }

.testIcon {
  color: orangered;
  margin-right: 10px; }

.sectionProjects--subText {
  width: 50%;
  margin: 3rem auto 8rem auto; }
  .sectionProjects--subText > a {
    background-image: linear-gradient(to left, #AADDBB, #00a84b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  @media only screen and (max-width: 75em) {
    .sectionProjects--subText {
      width: 60%; } }

.cardWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 40rem;
  width: 32rem;
  margin-bottom: 4rem; }
  .card__side {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: 40rem;
    position: relative;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    padding: 2rem;
    color: #000;
    border-radius: 7px;
    border: 1px transparent #ffffff;
    text-align: center;
    box-shadow: -10px -10px 20px #faf6f6 inset; }
    .card__side--front {
      background-color: #f279bb;
      position: absolute;
      top: 0;
      left: 0; }
      .card__side--front-imgContainer1 {
        width: 73%;
        margin: 3rem auto 2rem; }
      .card__side--front-imgContainer2 {
        width: 83%;
        height: 44%;
        margin: 3rem auto 2rem; }
      .card__side--front-imgContainer3 {
        width: 73%;
        margin: 3rem auto 2rem; }
      .card__side--front-img {
        width: 100%;
        height: 100%; }
    .card__side--back {
      background-color: #881155;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(180deg);
      color: #ffffff; }
      .card__side--back > .o-list {
        margin: 2rem;
        text-decoration: underline;
        font-size: 80%;
        text-transform: capitalize; }
  .card:hover .card__side--front {
    transform: rotatey(-180deg); }
  .card:hover .card__side--back {
    transform: rotatey(0); }

.glossary {
  display: flex;
  flex-flow: column;
  padding: 5rem;
  /************
    Sticky Headings
    *************/ }
  @media only screen and (max-width: 56.25em) {
    .glossary {
      padding: 2rem;
      font-size: 80%; } }
  .glossary__item {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .glossary__item {
        padding-left: 3rem;
        margin-right: 0;
        display: block;
        text-align: left; } }
    .glossary__item-firstRow {
      font-weight: 700;
      font-size: 110%;
      color: #881155; }
      @media only screen and (max-width: 56.25em) {
        .glossary__item-firstRow {
          display: none; } }
    .glossary__item--term {
      flex: 0 0 20%;
      text-transform: capitalize;
      padding-left: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .glossary__item--term {
          padding-left: 0rem;
          border-bottom: 0.5rem double #881155;
          font-size: 125%; } }
    .glossary__item--helps {
      flex: 0 0 40%;
      margin-right: 4rem; }
      @media only screen and (max-width: 56.25em) {
        .glossary__item--helps {
          padding-right: 1rem;
          border-bottom: 0.1rem dashed #881155;
          padding-bottom: .5rem; } }
      .glossary__item--helps > a {
        color: #f279bb;
        text-decoration: none; }
        .glossary__item--helps > a:hover {
          text-decoration: underline; }
    .glossary__item--meaning {
      flex: 0 0 40%;
      padding-right: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .glossary__item--meaning {
          display: inline;
          padding-top: .5rem; } }
      .glossary__item--meaning > a {
        color: #f279bb;
        text-decoration: none; }
        .glossary__item--meaning > a:hover {
          text-decoration: underline; }
    .glossary__item:nth-child(even) {
      color: #00a84b; }
  .glossary__sticky {
    color: #881155 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 80%;
    background-color: #f2dae7;
    text-align: center;
    padding: 1rem 7rem;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    opacity: .9; }
    @media only screen and (max-width: 56.25em) {
      .glossary__sticky {
        display: none; } }

.pricing {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .pricing__package {
    display: flex;
    flex-flow: column;
    padding: 2rem 3rem;
    justify-content: space-between;
    border: 6px double #f279bb;
    border-radius: .3rem;
    margin: 3.5rem auto 3rem; }
    .pricing__package:last-child {
      margin-bottom: 13rem; }
    .pricing__package--item {
      text-align: center; }
      .pricing__package--item > a {
        color: #00a84b;
        text-decoration: none; }
        .pricing__package--item > a:hover {
          text-decoration: underline; }
      .pricing__package--item-line1 {
        border-bottom: 2px solid #f279bb;
        padding-bottom: 2rem;
        margin-bottom: 2rem; }
    .pricing__package--price {
      justify-content: center;
      color: #00a84b;
      font-size: 120%;
      font-style: italic;
      border-top: 2px solid #f279bb;
      padding-top: 2rem;
      margin-top: 2rem;
      text-align: center; }

.sectionAbout__container {
  width: 60%;
  margin: 3.5rem auto 8rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: .3rem;
  box-shadow: -8px -8px 20px #f279bb inset; }
  @media only screen and (max-width: 75em) {
    .sectionAbout__container {
      width: 75%; } }
  .sectionAbout__container--imgCont {
    height: 15rem;
    width: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(45% at 50% 50%);
    clip-path: circle(45% at 50% 50%); }
  .sectionAbout__container--content {
    font-size: 80%; }
    .sectionAbout__container--content > a {
      color: #f279bb; }

.sectionAbout__content--imgCont-img {
  height: 140%;
  width: 100%; }
