* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #ffffff; }

@media only screen and (max-width: 75em) {
  font-size: 56.25%; }

@media only screen and (max-width: 56.25em) {
  font-size: 50%; }

@media only screen and (min-width: 112.5em) {
  font-size: 75%; }

body {
  color: #555;
  font-family: 'Lato', 'Arial', san-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  line-height: 1.7; }

a:link,
a:visited {
  color: #ffffff; }

h1,
h2 {
  text-transform: uppercase;
  color: #f0f0ee;
  word-spacing: 7px;
  text-align: center;
  letter-spacing: 1.5px;
  width: 100%; }

h1 {
  font-size: 4rem;
  font-weight: 400;
  display: inline-block;
  display: inline-block;
  background-image: linear-gradient(to right, #ffffff, #f2dae7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  h1:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  display: inline-block;
  background-image: linear-gradient(to right, #ffffff, #f2dae7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  h2:hover {
    transform: skewY(-2deg) skewX(-15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

h4 {
  text-align: center;
  color: #881155; }

.u-underline {
  text-decoration: underline; }

.o-btn {
  margin: 1rem;
  padding: 1rem 1.25rem;
  border-radius: .5rem; }

.o-list {
  list-style: none;
  text-decoration: none; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }

/*////////////////////
HEADER ELEMENTS INSTRUCTIONS
////////////////////*/
.header {
  background-image: linear-gradient(to right bottom, rgba(170, 221, 187, 0.8), rgba(0, 168, 75, 0.8)), url(../img/valleyTenPeaks.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75vh;
  position: relative;
  background-color: #f0f0ee;
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%); }
  .header__topLineWrapper {
    height: 15%; }
  .header__logoBox {
    padding: 1rem;
    float: left; }
    .header__logoBox--logo {
      height: 10rem;
      opacity: .2; }
  .header__heroBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__heroBox--mainHeadingText > span {
      font-size: 80%; }
    .header__heroBox--subTitleText {
      padding: 1.5rem; }
  .header.ion-navicon {
    color: #fff;
    cursor: pointer;
    float: right;
    display: none;
    font-size: 200%;
    margin-right: 10px; }
  .header.ion-close {
    float: right;
    margin-right: 10px;
    color: #fff;
    cursor: pointer; }

.nav {
  margin-right: 2rem;
  margin-top: 2rem;
  float: right; }
  .nav__mainNav--mainNavItem {
    display: inline-block; }
    .nav__mainNav--mainNavItem a:link,
    .nav__mainNav--mainNavItem a:visited {
      color: #f0f0ee;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 80%;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.4s;
      padding: 10px 10px;
      letter-spacing: 1.3px;
      word-spacing: 5px;
      font-weight: 400; }
    .nav__mainNav--mainNavItem a:hover,
    .nav__mainNav--mainNavItem a:active {
      border-bottom: 2px solid #f2dae7; }

.sectionProjects {
  background-color: #f0f0ee;
  height: 80rem;
  padding: 3rem;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }

.sectionGlossary {
  background-color: #ffffff; }

.testIcon {
  color: orangered;
  margin-right: 10px; }

.sectionProjects__header {
  display: inline-block;
  background-image: linear-gradient(to right, #AADDBB, #00a84b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 160%;
  margin: 4rem 0 2rem -2.5rem;
  text-align: center;
  width: 100%; }
  .sectionProjects__header-sub {
    width: 40%;
    margin: 2rem auto 6rem auto; }

.cardWrapper {
  width: 100%;
  display: inline-flex;
  justify-content: space-around; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .card__side {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 40rem;
    width: 32rem;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    padding: 2rem;
    color: #000;
    border-radius: 7px;
    border: 1px transparent #fff;
    text-align: center;
    box-shadow: -10px -10px 20px #faf6f6 inset; }
    .card__side--front {
      background-color: #f279bb; }
      .card__side--front-imgContainer {
        width: 23rem; }
      .card__side--front-img {
        width: 23rem;
        height: 18rem;
        margin: 2rem; }
    .card__side--back {
      background-color: #881155;
      transform: rotateY(180deg);
      color: #ffffff; }
      .card__side--back > .o-list {
        margin-top: 1rem;
        text-decoration: underline;
        font-size: 80%;
        text-transform: capitalize; }
  .card:hover .card__side--front {
    transform: rotatey(180deg); }
  .card:hover .card__side--back {
    transform: translatey(-40rem) rotatey(0); }

.sectionGlossary__header {
  display: inline-block;
  background-image: linear-gradient(to right, #AADDBB, #00a84b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 160%;
  margin-top: 6rem; }

.glossary {
  display: flex;
  flex-flow: column;
  padding: 5rem; }
  .glossary__item {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem; }
    .glossary__item-firstRow {
      font-weight: 700;
      font-size: 110%;
      color: #881155; }
    .glossary__item--term {
      flex: 0 0 20%;
      text-transform: capitalize;
      margin-right: 4rem; }
    .glossary__item--helps {
      flex: 0 0 40%;
      margin-right: 4rem; }
    .glossary__item--meaning {
      flex: 0 0 40%; }
