//COLORS

$colorPrimary: #18ff80;
$colorPrimary-light: #AADDBB;
$colorPrimary-dark: #00a84b;

$colorSecondary: #D7DDDA;

$colorGrey-light1: #f7f7f7;
$colorGrey-light2: #eee;

$colorGrey-dark1: #777;
$colorGrey-dark2: #999;
$colorGrey-dark3: #333;

$colorBlack: #000;
$colorWhite: #ffffff;
$colorOffwhite: #f0f0ee;

//GRID VARIABLES

$grid-width: 114rem;
$gutter-leftright: 1rem;
$gutter-topbott: 2rem;