//COLORS

$colorPrimary: #18ff80;
$colorPrimary-light: #AADDBB;
$colorPrimary-dark: #00a84b;

$colorSecondary: #D7DDDA;

$colorTertiary: #f279bb;
$colorTertiary-light: #f2dae7;
$colorTertiary-dark: #881155;

$colorGrey-light1: #f7f7f7;
$colorGrey-light2: #eee;

$colorGrey-dark1: #777;
$colorGrey-dark2: #999;
$colorGrey-dark3: #333;

$colorBlack: #000;
$colorWhite: #ffffff;
$colorOffwhite: #f0f0ee;

//GRID VARIABLES

$grid-width: 114rem;
$gutter-leftright: 1rem;
$gutter-topbott: 2rem;

//Z-INDEX

$zBehind: -1;
$zInfront: 1000;
$zMiddle: 500;
$zMiddleFront: 750;
$zMiddleBack: 250;