/*////////////////////
HEADER ELEMENTS INSTRUCTIONS
////////////////////*/

.header {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/glassburstgreen.gif);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 85vh;
    position: relative;


    &__topLineWrapper {
        height: 15%;
    }

    &__logoBox {
        padding: 1rem;       
        float: left;

        &--logo {
            height: 10rem;
            opacity: .8;
        }
    }

    &__heroBox {
        @include centerBoxAbs;
        &--mainHeading {
           
        }
        &--mainHeadingText {
            text-align: center;
            
            & > span {
                text-transform: initial;
                font-size: 80%;
            }
        }

        &--subTitle {
            margin-top: 2rem;
           
        }

        &--subTitleText {
            text-align: center;
        }
    }
 
    &.ion-navicon {
        color: #fff;
        cursor: pointer;
        float: right;
        display: none;
        font-size: 200%;
        margin-right: 10px;
    }
    
    &.ion-close {
        float: right;
        margin-right: 10px;
        color: #fff;
        cursor: pointer;
    }
}

