.nav {
    margin-right: 2rem;
    margin-top: 2rem;
    float: right;
    &__mainNav {
        &--mainNavItem {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 3.5rem;
            }

            & a:link,
            & a:visited {
                color: $colorOffwhite;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 80%;
                border-bottom: 2px solid transparent;
                transition: border-bottom 0.4s;
                letter-spacing: 1.3px;
                word-spacing: 5px;
                font-weight: 400;
                padding-bottom: 1rem;
            }
            & a:hover,
            & a:active {
                border-bottom: 2px solid $colorTertiary-light;
            }
        }
    }
}