.nav {
    margin-right: 2rem;
    margin-top: 2rem;
    float: right;
    &__mainNav {
        @include respond(portrait) {
            display: none;
        }

        &--mainNavItem {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 3.5rem;
            }
            & a:link,
            & a:visited {
                color: $colorOffwhite;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 80%;
                border-bottom: 2px solid transparent;
                transition: border-bottom 0.4s;
                letter-spacing: 1.3px;
                word-spacing: 5px;
                font-weight: 400;
                padding-bottom: 1rem;
            }
            & a:hover,
            & a:active {
                border-bottom: 2px solid $colorTertiary-light;
            }
        }
    }
    &__mobileNav--icon {
        float: right;
        cursor: pointer; 
        display: none;

        @include respond(portrait) {
            display: inline-block;           
        }

        &-hamburger {
            height: 2.5rem;
        }

        &-close {
            display: none;
        } // position: fixed;
        // top: 2rem;
        // right: 2rem;
        // @include respond(portrait) {
        //     display: block;
        // }
        // &--icon {
        //     height: 3rem;
        //     border-radius: .3rem;
        // }
        // &--icon-close {
        //     height: 1.5rem;
        //     border-radius: .3rem;
        //     float: right;
        // }
    }
}