.sectionProjects {
    background-color: $colorOffwhite;
    height: 80rem;  
    padding: 3rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); 
}

.sectionGlossary {
    background-color: $colorWhite;    
}