.header {
    background-image: linear-gradient(to right bottom, rgba($colorPrimary-light, .8), rgba($colorPrimary-dark, .8)), url(../img/valleyTenPeaks.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
    @include respond(smallPhone) {
        height: 65vh;
        clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
    }
}

.sectionProjects {
    background-color: $colorOffwhite;
    padding: 3rem;
    clip-path: polygon(0 0, 100% 6rem, 100% 100%, 0 100%);
    @include respond(phone) {
        padding: 5rem 3rem 3rem;
    }
}

.sectionPricing {
    background-color: $colorWhite;
    width: 100%;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
    padding-top: 10rem;

    @include respond(smallPhone) {
        clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
        padding-top: 6rem;
    }
}

.sectionAbout {
    background-color: $colorOffwhite;
    width: 100%;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);
    margin: -5rem auto 5rem;
    padding-top: 7.5rem;
}

.sectionGlossary {
    background-color: $colorWhite;   
    width: 100%;
    padding-top: 10rem;
    clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);

    @include respond(smallPhone) {
        padding-top: 6rem;
        clip-path: polygon(0 0, 100% .5%, 100% 100%, 0 100%);
    }
}

.footer {

    
    background-color: $colorPaletteBlack;
    padding: 4rem;

}