.sectionGlossary__viewBtnCont {
    width: 100%;
    margin-bottom: -3rem;
    &--viewBtn {
        margin-left: 50%;
        margin-top: 6rem;
        transform: translate(-50%, -50%);
        font-size: 120%;
        font-weight: 300;
        background-color: transparent;
        color: $colorTertiary-dark;
        padding: 2rem 4rem 0;
        border: none;
        cursor: pointer;
    }
}

.glossary {
    flex-flow: column;
    padding: 0 5rem 5rem 5rem;
    @include respond(portrait) {
        padding: 2rem;
        font-size: 80%;
    }
    @include respond(phone) {
        padding: 1rem;
        font-size: 70%;
    }
    &__item {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 2rem;
        @include respond(portrait) {
            padding-left: 3rem;
            margin-right: 0;
            display: block;
            text-align: left;
        }
        &-firstRow {
            font-weight: 700;
            font-size: 110%;
            color: $colorTertiary-dark;
            @include respond(portrait) {
                display: none;
            }
        }
        &--term {
            flex: 0 0 20%;
            text-transform: capitalize;
            padding-left: 1rem;
            padding-right: 2rem;
            @include respond(portrait) {
                padding-left: 0rem;
                font-size: 125%;
                border-bottom: .5rem double $colorTertiary-dark;
            }
        }
        &--helps {
            flex: 0 0 40%;
            margin-right: 4rem;
            @include respond(portrait) {
                padding-right: 1rem;
                border-bottom: .1rem dashed $colorTertiary-dark;
                padding-bottom: .5rem;
            }
            &>a {
                color: $colorTertiary;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &--meaning {
            flex: 0 0 40%;
            padding-right: 1rem;
            @include respond(portrait) {
                display: inline;
                padding-top: .5rem;
            }
            &>a {
                color: $colorTertiary;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &:nth-child(even) {
            color: $colorPrimary-dark;
        }
    }
    /************
    Sticky Headings
    *************/
    &__sticky {
        display: none;
        color: $colorTertiary-dark !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 90%;
        font-weight: 300;
        background-color: $colorPrimary;
        text-align: center;
        padding: 1rem 7rem;
        clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
        opacity: .9;
        border: none;
    }
}

/***************
Also for sticky headings
***************/

.glossary__item-firstRow>.glossary__item--term,
.glossary__item-firstRow>.glossary__item--helps {
    border:none;
    padding: none;

    
}
