.sectionGlossary__header {
    @include clipTextDark;
    font-size: 160%;
    margin-top: 10rem;   
}

.glossary {
    display: flex;
    flex-flow: column;
    padding: 5rem;

    &__item {
        display: inline-flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 2rem;
        
        &-firstRow {
            font-weight: 700;
            font-size: 110%;
            color: $colorTertiary-dark;
        }


        &--term {
            flex: 0 0 20%;
            text-transform: capitalize;
            margin-right: 4rem;

           
        }

        &--helps {
            flex: 0 0 40%;
            margin-right: 4rem;

            & > a {
                color: $colorPrimary-dark;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &--meaning {
            flex: 0 0 40%;  

            & > a {
                color: $colorPrimary-dark;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/************
Sticky Headings
*************/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 80%;
    background-color: $colorPrimary-light;
    text-align: center;
    padding: 1rem 7rem;
    border-radius: 2rem;


}



