.pricing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    &__package {
        display: flex;
        flex-flow: column;
        padding: 2rem 3rem;
        justify-content: space-between;
        border: 6px double $colorTertiary;
        border-radius: .3rem;
        margin: 3.5rem auto 3rem;
        &:last-child {
            margin-bottom: 13rem;
        }

        &--item {
            text-align: center;
            & > a {
                color: $colorPrimary-dark;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            &-line1 {
                border-bottom: 2px solid $colorTertiary;
                padding-bottom: 2rem;
                margin-bottom: 2rem;
            }
        }
        
        &--price {
            justify-content: center;
            color: $colorPrimary-dark;
            font-size: 120%;
            font-style: italic;
            border-top: 2px solid $colorTertiary;
            padding-top: 2rem;
            margin-top: 2rem;
            text-align: center;
        }
    }
}
