.sectionProjects {
    
    &__header {
        @include clipTextDark;
        font-size: 160%;
        margin: 4rem 0;
        text-align: center;
        width: 100%;
        
        &-sub {    
            width: 40%; 
            margin: 2rem auto 6rem auto;
        }
    }
}

.cardWrapper {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__side {       
        display: flex;
        flex-flow: column;
        justify-content: space-between;       
        width: 32rem;
        transition: all 0.8s ease;
        backface-visibility: hidden;      
        padding: 2rem;
        color: $colorBlack;
        border-radius: 7px;
        border: 1px transparent #fff;
        text-align: center;
        box-shadow: -10px -10px 20px #faf6f6 inset;

        &--front {
            background-color: $colorTertiary; 
               
            &-imgContainer {
                width: 23rem;
            }
            &-img {
                width: 23rem;
                height: 18rem;
                margin: 2rem;
            } 
        }

        &--back {
            background-color: $colorTertiary-dark;
            transform: rotateY(180deg);
            color: $colorWhite;

            & > .o-list {
                margin-top: 1rem;
                text-decoration: underline;
                font-size: 80%;
                text-transform: capitalize;              
            }

            // transform: rotateX(-180deg);
            // height: 35rem;
            // width: 25rem;
            // padding: 2rem;
            // color: $colorBlack;
            // text-decoration: none;
            // border-radius: 7px;
            // border: 1px transparent #fff;
            // transition: all 0.8s, border 0.4s, color 0.4s;
            // text-align: center;
            // box-shadow: -10px -10px 20px #faf6f6 inset;
            // background-color: $colorTertiary;
            // margin-bottom: 30px;   
            


            // &:hover,
            // &:active {
            //     // background-color: $colorTertiary-dark;
            //     // color: $colorWhite;
            //     // border: 1px solid $colorPrimary;
            //     transform: rotateX(0);
        }
    }

    &:hover &__side--front {
        transform: rotatey(180deg);
    }

    &:hover &__side--back {

        transform: translatey(-40rem) rotatey(0);
    }

    &__front2 {
        // margin-top: 2.5rem;
        // background-image: url(../img/mySiteScreenShot.png);
        // background-position: center;
        // background-size: 22rem;
        // background-repeat: no-repeat;
    }
    &__front3 {
        // background-image: url(../img/underconstruction2mytint.gif);
        // background-position: center 80px;
        // background-size: 20rem;
        // background-repeat: no-repeat;
    }
}