.sectionProjects {
    &--subText {
        width: 50%;
        margin: 3rem auto 8rem auto;
        &>a {
            @include clipTextDarkRev;
        }

        @include respond(landscape) {
            width: 60%;
        }   
    }
}

.cardWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;

}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 40rem;
    width: 32rem;
    margin-bottom: 4rem;


    &__side {
        display: flex;
        flex-flow: column;
        justify-content: space-between; 
        width: 100%;
        height: 40rem;
        position: relative;
        transition: all 0.8s ease;
        backface-visibility: hidden;
        padding: 2rem;
        color: $colorBlack;
        border-radius: 7px;
        border: 1px transparent $colorWhite;
        text-align: center;
        box-shadow: -10px -10px 20px #faf6f6 inset;
        &--front {
            background-color: $colorTertiary;
            position: absolute;
            top: 0;
            left: 0;

            &-imgContainer1 {
                width: 73%;
                margin: 3rem auto 2rem;
            }

            &-imgContainer2 {
                width: 83%;
                height: 44%;
                margin: 3rem auto 2rem;
            }  

            &-imgContainer3 {
                width: 73%;
                margin: 3rem auto 2rem;
            }

            &-img {
                width: 100%;
                height: 100%;
            }

        }
        &--back {
            background-color: $colorTertiary-dark;
            position: absolute;
            top: 0;
            left: 0;
            transform: rotateY(180deg);
            color: $colorWhite;

            &>.o-list {
                margin: 2rem;
                text-decoration: underline;
                font-size: 80%;
                text-transform: capitalize;
            } 
        }
    }
    &:hover &__side--front {
        transform: rotatey(-180deg);
    }
    &:hover &__side--back {
        transform: rotatey(0);
    }
}