.o-btn {
    margin: 1rem;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    &:focus {
        outline: 0;
    }
}

.o-list {
    list-style: none;
    text-decoration: none;
}

.o-linkStyle {
    background-color: transparent;   
    color: #310a20;
    text-decoration: none;
    font-family: 'Lato', 'Arial', san-serif;
    font-size: 2rem;
    font-weight: 400;
    border: none;

    &:hover,
    &:active {
        text-decoration: underline;
    }
}